*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Set height of sidebar to 100% */
.sidebar {
    /* height: 100vh; */
    color: white;
    /* background-color: #03090f; */
    /* background-color: limegreen; */
    background-color: rgb(241, 12, 207);
  }

.sidebar ul li{
    list-style: none;S
}

.sidebar ul li a{
    color: white;
}
  
  /* Set width of main content to 100% */
  .main-content {
    width: 100%;
    color: white;
    /* background-color: rgb(10, 2, 2); */
    background-color: rgb(241, 12, 207);
  }
  
  /* Set font size and weight for sidebar header */
  .sidebar h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Set font size and margin for sidebar list items */
  .sidebar ul li {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  

  /* Set padding for card */
  .card {
    padding: 20px;
    color: rgb(7, 5, 5);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Set text alignment for card titles */
  .card-title {
    text-align: center;
  }
  
  /* Set margin for card text */
  .card-text {
    margin-bottom: 10px;
    text-align: center;
  }
  
  /*
  